<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="myscript.js"></script>
    <h1>Hello , Welcome TO EJS , My name is <%=locals.name%> </h1>
    <!-- method is by default Get , but we can change it like below !  -->
    <!-- Action is like routing , after submit it will route to contact route -->
    <main>
        <form method="post" action="/contact">
            <h2>Contact form</h2>
            <input type="text" name="name" placeholder="Enter Name" />
            <input type="email" name="email" placeholder="Enter email" />
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>